@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #D3E4CD;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.navbar {
  background-color: #FEF5ED;
}

.navbar__logo {
  padding: 0;
  height: 100px;
  width: 130px;
  margin-bottom: 20px;
}

.navbar__button li a {
  font-size: 12px;
  margin: 25px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.navbar__button__inicio {
  padding-bottom: 1px;
  color: white;
  position: relative;
}

.navbar__button__inicio::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background: black;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.navbar__button__inicio:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar__button__galeria {
  padding-bottom: 1px;
  color: white;
  position: relative;
}

.navbar__button__galeria::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background: black;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.navbar__button__galeria:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar__button__sobreNosotros {
  padding-bottom: 1px;
  color: white;
  position: relative;
}

.navbar__button__sobreNosotros::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background: black;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.navbar__button__sobreNosotros:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar__button__contacto {
  padding-bottom: 1px;
  color: white;
  position: relative;
}

.navbar__button__contacto::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background: black;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.navbar__button__contacto:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar__button__comoLlegar {
  padding-bottom: 1px;
  color: white;
  position: relative;
}

.navbar__button__comoLlegar::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  background: black;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.navbar__button__comoLlegar:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Cierra animacion botones nav */
#container {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding: 40px;
  width: 100%;
  bottom: 45%;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  -webkit-animation: show 4s ease-out infinite;
          animation: show 4s ease-out infinite;
}

@-webkit-keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.carousel {
  border-radius: 50px;
}

.carousel-inner {
  max-height: 1000px;
}

.carousel-inner img {
  height: 600px;
}

.accordion {
  margin-top: 100px;
}

.acordion__button__contamosCon {
  background-color: #FEF5ED;
}

.acordion__button__servicios {
  background-color: #FEF5ED;
}
/* GALERIA */
.fotosdelaGaleria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.fotosGaleria__salon {
  width: 350px;
  height: 350px;
}

.fotosGaleria__parrilla {
  width: 350px;
  height: 350px;
}

.fotosGaleria__pileta {
  width: 350px;
  height: 350px;
}

.fotosGaleria__cocina {
  width: 350px;
  height: 350px;
}
.galeria__titulo{
  font-size: 25px;
 margin-top: 50px;
 margin-bottom: 50px;
 padding: 150px;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 7px;
  
}
.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
  }
  
  .heading span {
	display: block;
  }
  
  .gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
  }
  
  .gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
  }
  
  .gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
  }
  
  .gallery-image:hover {
	transform: scale(1.15);
  }
  
 
  
  @supports (display: grid) {
	.gallery {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
	  grid-gap: 2rem;
	}
  
	.gallery,
	.gallery-item {
	  margin: 0;
	}
  }

/* CIERRA GALERIA */

.texto__nuestradireccion {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 50px;
  line-height: 50px;
  text-decoration: underline;
  
}

.googleMaps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 100px;
  height: 50%;
  border-radius: 14px;
}

.googleMaps iframe {
  border-radius: 5px;
}

.wrapper {
  height: 150px;
  /*This part is important for centering*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.typing-demo {
  width: 30ch;
  -webkit-animation: typing 5s steps(22), blink 0.5s ease-in-out infinite alternate;
          animation: typing 5s steps(22), blink 0.5s ease-in-out infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-family: 'Montserrat';
  font-size: 23px;
  margin-bottom: 60px;
  font-weight: 600;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.comollegar__p{
 font-size: 25px;
 margin-top: 50px;
 margin-bottom: 50px;
 padding: 50px;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 7px;
}

@media screen and (max-width: 720px){    
  .comollegar__p{
    font-size: 20px;
    padding: 100px;
    letter-spacing: 5px;
    font-weight: 500;


    
  }
  

  .comollegar__info{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 100px;
    height: 500px;
    letter-spacing: 5px;

  }
  

  #mapadegoogle{
    width: 90%;
    height: 500px;
  
  }

  

  .texto__nuestradireccion{
    font-size: 18px;
  }
  }
  
  
  .comollegar__info {

  margin-top: 100px;
  text-align: center;
  
  text-transform: uppercase;
  padding: 100px;

}

p a {
  text-decoration: none;
  color: black;
  
}

p :hover {
  color: rgba(0, 0, 0, 0.822);
}

.sobreNosotros__Texto__nuestrosInicios {
  font-size: 25px;
 margin-top: 50px;
 margin-bottom: 50px;
 padding: 150px;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 7px;
}

.sobreNosotros__Texto__info {
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px;
}
.aboutUs{
  display: flex;
  margin-top: 50px;
  padding: 20px;
  background-color:rgba(0, 0, 0, 0.2) ;

}

.sobrenosotros{
  height: 100vh;
  width: 50%;
  font-size: 15px;
}

.video__sobrenosotros{
width: 50%;
height: 100vh;
}
.quincho{
  color: white;
}

.sobreNosotros__Texto__info{
  font-size: 45px;
  width: 40px;
  margin-left: 40px;

  
}

.sobreNosotros__textofinal{
  font-size: 18px;
  padding: 50px;
  text-transform: uppercase;
  font-weight: bold;

}
@media screen and (max-width: 720px){ 
  .sobreNosotros__Texto__nuestrosInicios{
      font-size: 20px;
      padding: 150px; 
      letter-spacing: 5px;
      font-weight: 500;
      color: black;
    }

    .sobreNosotros__textofinal{
      font-size: 13px;
      height: 30px;
      text-transform: none;
      
      
    }

    .aboutUs{
      display:flex;
      height: 700px;
      align-content: center;
      align-items:center;
      
    }

    .sobreNosotros__Texto__info{
      height: 30px;
      font-size: 30px;}

      .video__sobrenosotros{
        height: 500px;
        width: 50%;
      }
}

/* CONTACTO */
.formulario__contacto__texto {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 7px;
}

.formulario__contacto__texto2 {
  width: 25ch;
  -webkit-animation: typing 5s steps(22), blink 0.5s ease-in-out infinite alternate;
          animation: typing 5s steps(22), blink 0.5s ease-in-out infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-family: 'Montserrat';
  font-size: 23px;
  margin-bottom: 150px;
  font-weight: 600;
  margin-right: 100px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.formulario__contacto__texto3 {
  width: 9ch;
  -webkit-animation: typing 5s steps(5), blink 0.5s ease-in-out 1 alternate;
          animation: typing 5s steps(5), blink 0.5s ease-in-out 1 alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-family: 'Montserrat';
  font-size: 23px;
  margin-bottom: 150px;
  font-weight: 600;
  margin-right: 240px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 720px){   .formulario__contacto__texto2 {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 100px;
    width: 24ch;
    text-align: center;
    vertical-align: middle;
  }
  .formulario__contacto__texto3 {
    width: 9ch;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 80px;
  }
}

.formulario__contacto__textosocialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#form {
  position: relative;
  width: 600px;
  margin: 50px auto 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 720px){   #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    font-family: 'Montserrat';
  }
  #form input {
    width: 400px;
  }
  #form textarea {
    width: 400px;
  }

  .formulario__contacto__texto{
    font-size: 20px;
    margin-bottom: 150px;
    margin-top: 150px;
    
  }

 .social-media{
   margin-bottom: 100px;
 }
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 700px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  color: black;
}

textarea {
  width: 700px;
  height: 200px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#submit {
  width: 700px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  outline: none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none;
}

.container__socialMedia {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-53%, -50%);
          transform: translate(-53%, -50%);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-media i {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  line-height: 50px;
  font-size: 28px;
  text-align: center;
  z-index: 10;
  color: #152733;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.social-media i:hover {
  color: #c6934b;
}

.social-media i::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #152733;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -1px;
  left: -2px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0 0 50px 10px rgba(24, 42, 54, 0);
          box-shadow: 0 0 50px 10px rgba(24, 42, 54, 0);
  z-index: -1;
}

.social-media i:hover::after {
  -webkit-box-shadow: 0 0 0 0px #152733;
          box-shadow: 0 0 0 0px #152733;
  background-color: rgba(21, 39, 51, 0.8);
}

.social-media .media-icon:nth-child(2) i {
  padding-left: 2px;
}

.servicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: white;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.servicio i {
  color: #94bac7;
  height: 40px;
  width: 25px;
}



.servicios1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicios2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equipamientosyservicios {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(170deg, #000, lightblue, #000, #000, lightblue);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-animation: shine 5s ease-in-out 1;
          animation: shine 5s ease-in-out 1;
  position: relative;
  padding: 15px;
}



@-webkit-keyframes shine {
  0% {
    background-position-x: -500%;
  }
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
}

.servicios3 {
  text-decoration: none;
  list-style-type: none;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: white;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.servicios3 i {
  color: #94bac7;
}


/* RESPONSIVE */
@media screen and (max-width: 720px){   .equipamientosyservicios {
    font-size: 16px;
    
  }

  .servicio {
    width: 600px;
    font-size: 11px;
    text-align:start ;
    
    
  }

  .servicios3{
    width: 500px;
    font-size: 13px;
    text-align:start;
  }

  #container{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .carousel{
    width: 90%;
    }

    

.carousel-inner img {
      height: 300px;
    }
  }



/*# sourceMappingURL=styles.css.map */