@import './variables';
@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './contacto';
@import './navbar';
@import './galeria';  
@import './comollegar';
@import './sobrenosotros';

body{
    background-color:#D3E4CD;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
  }
// INICIO


#container {
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    padding: 40px;
    width:100%;
    bottom:45%;
    display:block;
  }
  
  #flip {
    height:50px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block
  }
  
  #flip div:first-child {
    animation: show 4s ease-out infinite;
  }
  

  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  
  

.carousel{
    border-radius: 50px;
}




.carousel-inner{
  max-height: 1000px;
}

.carousel-inner img{
  height: 600px;
}






// acordion
.accordion{
    margin-top: 100px;
    
}

.acordion__button__contamosCon{
    background-color: #FEF5ED;
   
  }
  
  .acordion__button__servicios{
   background-color:#FEF5ED ; 
  }
// CIERRA INICIO













  



  // SERVICIOS INICIO

  // @media screen and (max-width: 640px){
  //   .servicio{
  //     font-size: 12px;
  //     width: 95%;
  //     height: 10px;
  //     text-align: center;
      
  //   }
    
  
  .servicios1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    flex-wrap: wrap;
    


  }

  
  .servicios2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    flex-wrap: wrap;

  }

  .equipamientosyservicios{
    width: 50%;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(170deg,  #000, lightblue,#000,#000,lightblue);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s ease-in-out 1 ;
    position: relative;
    padding: 15px;

  }


  



  .servicios3{
    
    text-decoration: none;
    list-style-type: none;
    
    align-content: center;
    background-color: white;
    height: 300px;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;

    
    i{
      color:rgb(148, 186, 199);
      
    }
  }

  
  


  