@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
	margin: 0;
	padding: auto;
  
}

body{
  background-color:#D3E4CD;
  font-family: 'Montserrat', sans-serif;
}

  
  .main__img{
  height: 500px;
 width: 400px;
  border-radius: 10px;
  margin-left: 500px;
 

}


.main__foto{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 50px;
 

}


.main__img2{
 height: 500px;
 width: 400px;
 border-radius: 10px;


}
.main__img3{
  height: 500px;
  width: 400px;
  border-radius: 10px;
 

}
.main__texto{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  
}
.main__texto{
  font-size: 45px;
  margin-top: 5%;
  text-transform: uppercase;
}



.main__p{
	font-size: 20px;
	text-transform: capitalize;
}

.main{
  margin: 10px;
}
.navbar__logo{
  padding: 0;
}
.navbar__button li a{
  font-size: 14px;
  margin: 25px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;


}

p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}











.sobreNosotros__h4{
	margin:100px;	
}

.aboutUs{
	display: flex;
	justify-content: center;
}

.sobreNosotros__Texto__nuestrosInicios{
	margin-bottom: 40px;
}
.sobreNosotros__Texto__info{
	margin-bottom: 40px;

}


.comollegar{
	text-align: center;

}
.googleMaps{
	display: flex;
	align-content: center;
	justify-content: center;
}

.comollegar__info{
	margin-top: 60px;
	text-align: center;
}

.googleMaps{
  width: 100%	;
}

.nav{
  
}

/* Abre animaciones botones nav */




.navbar__button__galeria{
    padding-bottom: 1px;
    color: white;
    position: relative;
}

.navbar__button__galeria::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: black;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.navbar__button__galeria:hover::after {
    opacity: 1;
    transform: translateY(0);
}


.navbar__button__sobreNosotros {
    padding-bottom: 1px;
    color: white;
    position: relative;
}

.navbar__button__sobreNosotros::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: black;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.navbar__button__sobreNosotros:hover::after {
    opacity: 1;
    transform: translateY(0);
}


.navbar__button__contacto {
    padding-bottom: 1px;
    color: white;
    position: relative;
}

.navbar__button__contacto::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: black;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.navbar__button__contacto:hover::after {
    opacity: 1;
    transform: translateY(0);
}


.navbar__button__comoLlegar {
    padding-bottom: 1px;
    color: white;
    position: relative;
}

.navbar__button__comoLlegar::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: black;
    transition: opacity 0.2s ease, transform 0.2s ease;
	
}

.navbar__button__comoLlegar:hover::after {
    opacity: 1;
    transform: translateY(0);
}
/* Cierra animacion botones nav */
/* Contacto */

}
/* Contacto cierra */
/* Galeria */
.fotosdelaGaleria{
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-content: center;
	align-items: center;
}

.fotosGaleria__salon{
width: 350px;
height: 350px;
}


.fotosGaleria__parrilla{
	width: 350px;
	height: 350px;
	}
	
.fotosGaleria__pileta{
	width: 350px;
	height: 350px;
	}

.fotosGaleria__cocina{
	width: 350px;
	height: 350px;
}

.carousel-inner{
  width: 100%;
  max-height: 1000px;
}

.carousel-inner img{
  height: 600px;
}

.acordion__button__contamosCon{
  background-color: #FEF5ED;
}

.acordion__button__servicios{
 background-color:#FEF5ED ; 
}

/* Sobre nosotros */
.sobreNosotros__Texto__nuestrosInicios{
  font-weight: 600;
}

.sobreNosotros__Texto__info{
  font-weight: 500;
}